.header{ 
    background-image: url(photo_2024-10-08_21-34-29.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
    height: 300px;
    font-family: "Pacifico", cursive;
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    color:#41292c;
    
    }
    h3{
        text-align: center;
        color: #5c484b;
        background-color:#eee8e0;
    }
    .first_p {
        color: #a19d98;
    }
    .roasting{
        font-family: "Josefin Sans", sans-serif;
        
    }
    body{
        background-color: #eee8e0;}
    .nigga{
        width: 950px;
        margin: auto;
    }
    .roasting{
        background-color: #ffff;
        width: 1000px;
        margin: auto;
    }
    .green{
        background-color: #99c39a;
        margin: -21px auto;
        width: 930px;
        padding: 10px;

    }
    h5, p{
        color: white;
        font-weight: 200;
    }
    h4{
        color: white;
        font-size: 32px;
    }
    .light{
        background-color: #a96342;
        margin: -21px auto;
        width: 930px;
        padding: 10px;
    }
    .city{
        background-color: #96582e;
        margin: -21px auto;
        width: 930px;
        padding: 10px;
    }
    .vienna{
        background-color: #af4040;
        margin: -25px auto;
        margin-top: -25px;
        width: 930px;
        padding: 10px;
    }
    .italian{
        background-color: #191919;
        margin: -21px auto;
        width: 930px;
        padding: 10px;
    }
    h2{
        color: #e3bc99;
        
    }
    .white{
        color: #b5b2ae;
        
    }
    a{
        color: #547560;
        text-decoration: none;
    }
    .hr{
        height: 2px;
        background-color: #ead3bf;
    }
    .bags, .first_p{
        background-color: white;
    }
    .Tea, .Anandi, .Rio, .Mamba, .Pie, .Lacosta{
        width: 950px;
        margin: 25px auto;
        padding: 10px auto;
    }


    
    
